.teamcontainer {
  margin-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 4rem;
}

.teamcontainer h2 {
  color: var(--heading);
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.overlayText{

}


.image1 {
  width:220px;
  height:250px;
}

.image2 {
  margin-left: 8rem;
  width:220px;
  height:250px;
}

.teamcontainer p {
  font-size: 2rem;
  color: var(--grey);
  text-align: center;
  margin-top: 1.5rem;
  
}

.imageContainer img {
  border-radius: 1rem;
}

.imageContainer img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .teamcontainer {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .teamcontainer div {
    flex-direction: column;
    gap: 2rem;
  }

  .image1 {
    margin-bottom: 1rem;
  }

  .image2 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
}
