.container {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

.logo {
  color: var(--primary-color);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.logo img {
  height: 4rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navigation a {
  color: var(--grey);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.navigation a.active {
  border-bottom: 0.23rem solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}

.login {
  background: var(--primary-color);
  border: none;
  color: var(--bg-color);
  padding: 1rem 2.5rem 1rem 2.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sentNumber {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 555px) {
  .container {
    position: relative;
  }

  .login {
    padding: 8px 16px;
  }

  .logo {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
