.container {
    display:flex;
    overflow: hidden;
    max-width: 100vw;
    overflow-y: hidden;
    /* align-items: center; */

}

.innerContainer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    position: relative;
    width: 48vw;
  }
  
  .search button,
  .search span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search > * > svg {
    display: block;
  }
 
  
  .search span {
    left: 1.5rem;
    opacity: .5;
    margin-top: 1px;
  }
  
  .search button {
    right: 20px;
    left: auto;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    color: #333;
  }
  
  .search button:hover {
    color:var(--primary-color);
  }
  
  .search input {
    box-sizing: border-box;
    display: block;
    width: 47vw;
    height: 50px;
    border-radius: 5px;
    padding: 0 50px 0 45px;
    font-size: 20px;
    outline: none;
    border: 2px solid var(--secondary-color);;
    background: white;
  }

  .searchContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
  }

  .inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
  }



  .lottie {
    height: 20rem;
    width: 20rem;
  }

  .instructions {
    padding: 2rem;
  }

  .instructions li {
    margin-top: 1rem;
    font-size: 1.5rem;
    color:var(--grey)
  }

  .innerContainer h3 {
    font-size: 2rem;
    color: var(--secondary-color);
  }

  .popper {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 30%;
    z-index: 100;
}

.uploadImage {
  margin-top: 2rem;
  align-items: center;
}

.uploadImage p{
  text-align: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--grey);
}

.innerContainer h4  {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}


@media only screen and (max-width: 555px) {

  .container {
    display:flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
    .inside {
      width: 80vw;
    }  
    
    .searchContainer {
      width: 80vw;
    }

    .innerContainer ul{
      width: 85vw;
    }

    .search {
      width: 80vw;
    }
    .search input {
      width: 80vw;
    }
 
}

@media only screen and (max-width: 768px) {
  
}