@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --bg-color: #ffffff;
  --primary-color: #167cfb;
  --secondary-color: #1264ca;
  --black: #000000;
  --grey: #4e4e4e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.6rem;
}

input {
  font-family: "Inter";
  font-weight: 500;
}

textarea {
  font-family: "Inter";
  font-weight: 500;
}

select {
  font-family: "Inter";
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 1rem;
  position: absolute;
  right: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.dangerText {
  color: var(--red);
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
}

.primaryText {
  color: var(--primary-color);
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
}

/* 
@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 2570px) {
}

@media (min-width: 1920px) and (max-height: 1080px) {
} */
